[submodule "api"]
	path = api
	url = https://github.com/CinnamonHAB/cinnamongui-api.git
[submodule "web"]
	path = web
	url = https://github.com/CinnamonHAB/cinnamongui-web.git
[submodule "openhab"]
	path = openhab
	url = https://github.com/CinnamonHAB/cinnamonHAB.git
